.onboarding-container{
  max-width: 95%;
  margin: 20px auto !important;
  padding: 20px 10px;
  border: 1px solid #0000001c;
  border-radius: 20px;
}

.onboarding-label{
  font-weight: bold;
  float: left;
  padding: 10px;

}
.submit-btn{
  margin: 15px !important;
}
.submit-btn button{
  background: #4540DB;
  border-radius: 8px;
  border: none;
  padding: 10px 30px;
  color: #fff;
  font-size: 20px;
}