.onboarding-container{
  max-width: 95%;
  margin: 20px auto !important;
  padding: 20px 10px;
  border: 1px solid #0000001c;
  border-radius: 20px;
  background-color: #fff;
}

.onboarding-label{
  font-weight: bold;
  float: left;
  padding: 10px;

}
.submit-btn-candidate{
  margin: 15px !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

}
.submit-btn-candidate button{
  background: #26D7AB;
  border-radius: 8px;
  border: none;
  padding: 5px 15px;
  color: #fff;
  font-size: 16px;
}