.auth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.auth-container h1{
  font-size: clamp(25px, 3.4vw, 50px);
  margin-bottom: 1rem;
}
.auth-container h3{
  font-size: clamp(15px, 2.4vw, 30px);
  margin-bottom: 1rem;
}
.auth-container button{
  width: 250px;
  border: none;
  background: none;
  transition: width 1s ease;
}
.auth-container button img{
  width: -webkit-fill-available;
    border: none;
}
.auth-container button :hover{
  cursor: pointer;
  width: 270px;
}